<aside>
  <app-section-title [title]="'aside.tech-stack' | translate" icon="tech-stack" class="title"></app-section-title>

  <app-tech-stack></app-tech-stack>

  <app-section-title [title]="'aside.soft-skills.title' | translate" icon="soft-skills" class="title"></app-section-title>

  <app-soft-skills></app-soft-skills>

  <app-section-title [title]="'aside.projects.title' | translate" icon="projects" class="title"></app-section-title>

  <app-projects></app-projects>

  <app-section-title [title]="'aside.languages.title' | translate" icon="languages" class="title"></app-section-title>

  <app-languages></app-languages>
</aside>
