<app-project-item title="Curriculum vitae"
                  href="https://kamilchmielowski-dev.web.app/"
                  [githubUrl]="environment.github.repoUrl + 'cv'"
                  [chips]="['angular', 'jasmine', 'cypress']">
  <span [innerHTML]="'aside.projects.project-1' | translate"></span>
</app-project-item>

<app-project-item title="Weather app"
                  href="https://kamilchmielowski-weather.web.app/"
                  [githubUrl]="environment.github.repoUrl + 'weather'"
                  [chips]="['angular']">
  <span [innerHTML]="'aside.projects.project-2' | translate"></span>
</app-project-item>

<app-project-item
  title="Apologetyka Biblijna (prod)"
  href="https://apologetykabiblijna.pl"
  [chips]="['angular', 'material', 'mongo', 'express']">
  <span [innerHTML]="'aside.projects.project-3' | translate"></span>
</app-project-item>

<app-project-item title="Bezpieczna Przystań (prod)"
                  href="https://bezpiecznaprzystan.net"
                  [chips]="['angular']">
  <span [innerHTML]="'aside.projects.project-4' | translate"></span>
</app-project-item>
