<header>
  <app-change-lang></app-change-lang>

  <app-change-theme></app-change-theme>

  <app-nav></app-nav>

  <img src="../../assets/img/face.jpg" alt="avatar" class="img">

  <h1 class="name">Kamil Chmielowski</h1>

  <h2 class="position">{{ 'header.position' | translate }}</h2>

  <h3 class="location">
    <svg-icon name="location"></svg-icon>{{ environment.contact.location }}
  </h3>

  <ul class="contact">
    <li>
      <svg-icon name="phone"></svg-icon>

      <app-copy-text [aria]="'header.aria.tel' | translate"
                     [copyText]="environment.contact.tel"
                     [text]="'+' + environment.contact.tel"
      ></app-copy-text>
    </li>

    <li>
      <svg-icon name="email"></svg-icon>

      <app-copy-text [aria]="'header.aria.email' | translate" [text]="environment.contact.email"></app-copy-text>
    </li>

    <li>
      <svg-icon name="website"></svg-icon>

      <app-copy-text [aria]="'header.aria.website' | translate"
                     [text]="location.origin"
      ></app-copy-text>
    </li>
  </ul>
</header>
