@import 'variables';

:host {
  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;

    app-change-lang {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    app-change-theme {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .name {
      letter-spacing: .2rem;
      font-size: 2.25rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    .position {
      font-size: 1.125rem;
      text-transform: uppercase;
      font-weight: 500;
      color: $color-text;
      letter-spacing: 0.1rem;
      margin-top: 0;
    }

    .contact {
      display: inline-flex;
      list-style: none;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      padding: 1rem;
      font-size: .875rem;

      li {
        display: flex;
        align-items: center;
        color: $color-text;

        &:not(:last-of-type) {
          margin-right: 2rem;
        }

        svg-icon {
          margin-right: 0.5rem;

          ::ng-deep {
            svg {
              fill: $color-text;
            }
          }
        }
      }
    }

    .img {
      box-sizing: border-box;
      margin-top: calc(-5rem + 8px);
      max-width: 9rem;
      height: auto;
      border: 8px solid $color-background;
      border-radius: 50%;
    }
  }
}
