@import 'variables';

:host {
  button {
    width: 2rem;
    display: flex;
    border: 1px solid $color-border;

    &:first-of-type {
      margin-bottom: 1rem;
    }

    svg-icon {
      width: 2rem;
      height: inherit;
    }
  }
}
