@import 'variables';

:host {
  .references {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      display: inline-flex;
      text-decoration: none;
      color: $color-active;
      transition: $transition-hover;
      font-weight: 600;
      align-items: center;

      .dot {
        width: 0.6rem;
        height: 0.6rem;
        background-color: $color-active;
        transition: $transition-hover;
        border-radius: 0.1rem;
        margin-right: 0.5rem;
      }

      &:hover, &:focus {
        color: $color-hover;

        .dot {
          background-color: $color-hover;
        }
      }
    }

    .icons {
      display: flex;

      a {
        margin-left: 0.5rem;
      }
    }
  }

  app-item-chips {
    padding-top: 1rem;
    display: block;
  }

  .desc {
    font-size: 0.875rem;
    text-align: inherit;
  }
}

:host-context(.extra-space) {
  app-item-chips {
    padding-top: 1.5rem;
  }

  .desc {
    margin: 2rem 0;
  }
}
