@import 'media';
@import 'variables';

:host {
  display: block;

  .slide-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: $transition-lightbox;
    overflow: hidden;

    .btn {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 4rem;
      color: $color-active;
      font-weight: bold;
      font-size: 1.5rem;
      transition: 400ms ease-in-out;
      background-color: rgba(red(#19202e), green(#19202e), blue(#19202e), 0.35);

      &:hover {
        background-color: #19202e
      }

      @include desktop() {
        &:focus {
          background-color: #19202e
        }
      }

      @include portrait() {
        width: 2.5rem;
        height: 3.5rem;
      }

      svg-icon {
        width: 2.5rem;
        height: 2.5rem;

        @include portrait() {
          width: 2rem;
          height: 2rem;
        }

        svg {
          fill: white;

          &:hover {
            fill: #629feb;
          }
        }
      }
    }

    .close {
      color: white;
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-weight: bold;
      z-index: 3;
      height: 3rem;

      svg-icon {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .next {
      right: 1rem;
      top: calc(50% - 2rem);
    }

    .prev {
      left: 1rem;
      top: calc(50% - 2rem);
    }

    .slide-modal-content {
      .img-slides {
        display: flex;
        height: 100vh;
        margin: auto;
        flex-flow: column;
        justify-content: space-evenly;

        @include desktop() {
          max-width: 80vw;
        }

        &.hide {
          display: none;
        }

        img {
          display: flex;
          justify-content: center;
          align-self: center;
          opacity: 0;
          transition: $transition-lightbox;
          max-height: 80vh;
          color: #a5b3ce;

          @include portrait() {
            width: 100%;
          }
        }

        .image-row-preview {
          flex-wrap: inherit;
          justify-content: center;

          @include portrait-landscape() {
            display: none;
          }

          .image-column {
            width: inherit;

            .images {
              max-height: 15vh;
              border: none;
              transition: $transition-hover;
              background-color: #000;

              &:hover {
                transform: scale(1.05);
              }
            }

            &.active {
              .images {
                box-sizing: border-box;
                border: 2px solid #a5b3ce;
              }
            }
          }
        }
      }
    }
  }

  .image-row {
    display: flex;
    flex-wrap: wrap;

    & > .image-column {
      padding: 0.2rem 0.4rem;
      width: 25%;
      box-sizing: border-box;

      @include landscape() {
        width: 33.33%;
      }

      @include portrait() {
        width: 50%;
      }

      img {
        border: 1px solid $color-border;
        cursor: pointer;
        width: 100%;
        transition: 0.3s;
        min-height: 50px;
        line-height: 25px;
        color: $color-text;
        display: block;

        &:hover, &:focus {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

:host-context(.displayed) {
  .slide-modal {
    display: block;
  }
}

:host-context(.visible) {
  .slide-modal {
    opacity: 1;

    .slide-modal-content {
      .img-slides {
        img {
          opacity: 1;
        }
      }
    }
  }
}
