<div class="image-row">
  @for (image of images; track image; let i = $index) {
    <button class="image-column"
      (click)="openModal(); currentSlide(i + 1)" [attr.aria-label]="image.altKey | translate">
      <img [src]="image.previewUrl" [alt]="image.altKey | translate">
    </button>
  }
</div>

<div class="slide-modal">
  <button class="btn close" [attr.aria-label]="'projects.gallery.aria.close-btn'" (click)="closeModal()">
    <svg-icon name="close"></svg-icon>
  </button>

  <button class="btn prev" [attr.aria-label]="'projects.gallery.aria.prev-btn'" (click)="moveSlide(-1)">
    <svg-icon name="left"></svg-icon>
  </button>

  <button class="btn next" [attr.aria-label]="'projects.gallery.aria.next-btn'" (click)="moveSlide(1)">
    <svg-icon name="right"></svg-icon>
  </button>

  <div class="slide-modal-content">
    @for (image of images; track image; let i = $index) {
      <div class="img-slides">
        <img [src]="image.srcUrl" [alt]="image.altKey | translate">
        <div class="image-row image-row-preview">
          @for (image of images; track image; let j = $index) {
            <button
              [class.active]="i === j" class="image-column"
              [attr.aria-label]="image.altKey | translate"
              (click)="currentSlide(j + 1)">
              <img class="images" [src]="image.previewUrl" [alt]="image.altKey | translate">
            </button>
          }
        </div>
      </div>
    }
  </div>
</div>
