@import 'media';
@import 'variables';

:host {
  @include desktop() {
    display: flex;
  }

  app-article {
    border-right: 1px solid $color-border;
    padding-right: 1.5rem;
    width: 65%;
    display: block;

    @include portrait-tablet() {
      width: 100%;
      padding-right: 0;
      border-right: none;
    }
  }

  app-aside {
    margin-left: 1.5rem;
    width: 35%;
    display: block;

    @include portrait-tablet() {
      margin-left: 0;
      width: 100%;
    }
  }
}
