:root {
  --color-active: #fff;
  --color-background: #202b3d;
  --color-background-dark: #19202e;
  --color-border: #ffffff33;
  --color-text: #a5b3ce;
  --color-hover: #629feb;
  --color-progress-bar: #8497bc;
  --color-chip: #ffffffcc;
  --color-chip-background: #19202e;
}
