:root {
  --color-active: #121822;
  --color-background: #fff;
  --color-background-dark: #e0dddd;
  --color-border: #c2cee1;
  --color-text: #1f2c42;
  --color-hover: #629feb;
  --color-progress-bar: #8497bc;
  --color-chip: #fff;
  --color-chip-background: #354765;
  --color-shadow: #111;
  --color-section: #e0dddd;
}
