@import 'variables';

html, body {
  margin: 0;
  color: $color-text;
  background-color: $color-background-dark;
  font-family: arial, serif;
  letter-spacing: .05rem;
  line-height: 1.4rem;
  transition: background-color $transition-theme;

  &.starting-app {
    transition: none;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

h1, h2, h3 {
  color: $color-active;
}

h3 {
  font-size: 1rem;
}

p {
  text-align: justify;
}

svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;

  svg {
    transition: $transition-hover;
    fill: $color-active;
    width: 100%;
    height: 100%;
  }
}

a {
  color: $color-text;
  transition: $transition-hover;

  &:hover, &:focus {
    color: $color-hover;
    cursor: pointer;

    svg-icon {
      svg {
        fill: $color-hover;
      }
    }
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  transition: $transition-hover;

  &:hover, &:focus {
    color: $color-hover;
    cursor: pointer;

    svg-icon {
      svg {
        fill: $color-hover;
      }
    }
  }
}
