<app-section-title [title]="'header.about-me.title' | translate" icon="about"></app-section-title>

<a href="https://github.com/KamilChmielowski" class="references ref-1"
   [attr.aria-label]="'header.about-me.aria.github' | translate">
  <svg-icon name="github"></svg-icon>
</a>

<a href="https://www.linkedin.com/in/kamil-chmielowski-1540562a8/" class="references ref-2"
   [attr.aria-label]="'header.about-me.aria.linkedin' | translate">
  <svg-icon name="linkedin"></svg-icon>
</a>

<span [innerHTML]="'header.about-me.desc' | translate: { years: currentYear - 1 - 2017 }"></span>
