@import 'variables';

:host {
  .label {
    background: $color-background-dark;
    color: $color-chip;
    padding: 0.3rem 0.65rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 0.6rem;
  }
}
