<section>
  <p class="name">Computer Science (M. Eng.)</p>

  <p class="desc">Silesian University of Technology, Gliwice</p>

  <p class="desc">Faculty of Automatic Control, Electronics and Computer Science</p>

  <p class="desc">2017 - 2019</p>
</section>

<section>
  <p class="name">Computer Science (B.E.)</p>

  <p class="desc">Silesian University of Technology, Gliwice</p>

  <p class="desc">Faculty of Electrical Engineering</p>

  <p class="desc">2015 - 2017</p>
</section>

<section>
  <p class="name">Automation and Robotics (B.E.)</p>

  <p class="desc">Silesian University of Technology, Gliwice</p>

  <p class="desc">Faculty of Mechanical Engineering</p>

  <p class="desc">2013 - 2016</p>
</section>
