@import 'media';
@import 'variables';

:host {
  width: 100%;

  article {
    section {
      @include desktop() {
        width: 70%;
      }
    }

    .divider {
      border-top: 1px solid $color-border;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  }
}
