@import 'media';
@import 'variables';

:host {
  background-color: $color-background;
  padding: 0.5rem;
  display: block;

  nav {
    display: flex;

    @include desktop() {
      display: block;
    }
  }
  a {
    display: block;
    padding: 0.5rem;

    &.active {
      background-color: $color-background-dark;
    }

    &:first-of-type {
      @include desktop() {
        margin-bottom: 0.5rem;
      }

      @include portrait-tablet() {
        margin-right: 0.5rem;
      }
    }
  }
}
