<app-section-title title="Work experience" icon="work"></app-section-title>

<app-timeline-item
  date="2017 - present" chip="Comarch" header="Angular developer">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta est diam, et blandit ipsum suscipit facilisis. Praesent nec semper eros. Aliquam quis turpis sed metus mollis luctus vitae rhoncus mi.
  Vivamus accumsan purus at urna tincidunt convallis. Sed nisi dolor, elementum eget tempus ac, blandit ac mi. Aliquam id tellus ut arcu luctus accumsan in at odio.
  Morbi condimentum, lorem in pharetra mollis, purus justo sollicitudin dolor, tristique vulputate mi odio sit amet ante.
  Blanditiis praesentium voluptatum deleniti atque corrupti.
</app-timeline-item>
