@import 'variables';

:host {
  app-section-title {
    display: block;
    margin-bottom: 1rem;
  }

  app-timeline-item {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  .name {
    color: $color-active;
  }

  .desc {
    margin: 0.5rem 0;
  }
}
