@import 'variables';

:host {
  aside {
    app-section-title:not(:first-of-type) {
      display: block;
      border-top: 1px solid $color-border;
      padding-top: 1rem;
      margin-top: 1.5rem;
    }
  }
}
