:host {
  display: block;
  background-color: #1e2738;
  margin: 10rem auto 4rem;
  width: 1000px;

  main {
    width: 65%;
    padding: 0 2rem 1rem;

    article {
      margin: 1rem 0;
      border-right: 1px solid #FFFFFF33;
    }
  }
}
