@import 'variables';

:host {
  display: block;
  background-color: $color-background;
  margin: 10rem auto 0;
  width: 1000px;

  main {
    display: flex;
    padding: 0 2rem 4rem;
    margin: 1rem 0;

    app-article {
      border-right: 1px solid $color-border;
      padding-right: 1.5rem;
      width: 65%;
    }

    app-aside {
      margin-left: 1.5rem;
      width: 35%;
    }
  }

  footer {
    text-align: center;
    padding: 2rem;
    background-color: $color-background-dark;
    font-size: 0.875rem;
  }
}
