@import 'media';
@import 'variables';

:host {
  display: block;
  margin: 10rem auto 0;
  width: $breakpoint-desktop;

  @include portrait-tablet() {
    width: 100%;
  }

  .root-wrapper {
    background-color: $color-background;
    margin: 0 5rem;
    position: relative;
    padding: 0 2rem 4rem;
    transition: background-color $transition-theme;

    @include portrait() {
      padding: 0 0.8rem 4rem;
    }

    @include tablet {
      margin: 0 2rem;
    }

    @include landscape {
      margin: 0 1rem;
    }

    @include portrait {
      margin: 0 0.5rem;
    }

    main {
      display: flex;
      margin: 1rem 0;
      min-height: 100vh;
      position: relative;

      @include portrait-tablet() {
        flex-flow: column;
      }
    }
  }

  footer {
    text-align: center;
    padding: 2rem;
    background-color: $color-background-dark;
    font-size: 0.875rem;
  }
}

:host-context(.starting-app) {
  .root-wrapper {
    transition: none;
  }
}
