@import 'variables';

:host {
  .label {
    color: $color-active;
    font-size: .875rem;
  }

  .progress-bar {
    border-radius: 0.4rem;
    height: 0.4rem;
    background: $color-background-dark;

    margin-bottom: 1.25rem;

    .value {
      display: flex;
      width: 50%;
      border-radius: 0.4rem;
      background-color: $color-progress-bar;
      height: 100%;
    }
  }
}
