@import 'variables';

:host {
  span {
    padding: 0.2rem 0.4rem;
    color: #fff;
    font-size: 0.875rem;
    border-radius: 0.8rem;

    &:not(:last-of-type) {
      margin-right: 0.3rem;
    }

    &.angular {
      background-color: #e23237;
    }

    &.material {
      background-color: #ffa726;
    }

    &.jasmine {
      background-color: #8b3f83;
    }

    &.cypress {
      background-color: #23976d;
    }

    &.mongo {
      background-color: #4ea640;
    }

    &.express {
      background-color: #323232;
    }
  }
}
