@import 'media';
@import 'variables';

:host {
  .title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: $color-section;
    transition: $transition-theme;

    @include landscape-desktop() {
      margin: 0 -0.5rem;
      padding: 0.2rem 0.5rem;
    }

    @include portrait() {
      margin: 0 -0.8rem 2rem;
      padding: 0.3rem 0.8rem;
    }

    .icon-wrapper {
      margin-right: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: $transition-theme;
    }
  }
}
